header{
  padding: 20px;
}
header a {
  text-decoration: none;
  font-weight: 500;
  color: white;
  font-size: 18px;
}
header a:hover {
  color: orangered;
  text-decoration: underline;
}
.logo {
  font-size: 20px;
}
.header-btn{
  background-color: orangered;
}
.header-btn:hover {
  background-color: orangered;
}
.header-search{
  color: white;

}
.active {
margin-left: 40px;
}
.active-nav{
  left:0
}
.site-container {
  transition: 0.4s;
}
.sidebar-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: black;
  transition: 0.5;
}

/* newscomponent */

.news-component{
  max-width: 300px;
  padding: 10px;
}
.news-title {
  width:100%
}


/* footer */
.footer {

  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.footer-input {
  border-radius: 5px;
 width: 60%;
  padding: 4px;
}
